.container {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    width          : 100%;
    box-shadow     : 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    margin-bottom  : 2em;
    padding        : .7em 1.5em .7em 1.5em;
}

.button {
    color        : #029E74;
    border-color : #029E74;
    font-weight  : 500;
    padding      : 0.6em 1em 0.6em 1em;
    border-radius: 4px;
    border-width : 1px;
    border-style : solid;
    font-size    : 1em;
}