.card {
    border       : 1px solid rgba(0, 0, 0, .09);
    box-shadow   : 0 1px 4px rgba(0, 0, 0, .04);
    border-radius: 3px;
    padding      : 1em;
    width        : 100%;
    margin       : .5em 0 .5em 0;
}

.author {
    color      : var(--secondary);
    font-family: var(--body-font);
}

.title {
    font-weight: 600;
    font-size  : 2em;
}

.tags {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: flex-start;
    list-style-type: none;
    margin         : 0;
    padding        : 0;
}